.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, .wrapper {
  height: 100%;
}

/* Space out content a bit */
body {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  .wrapper {
    width: 100%;
    // max-width: 1280px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    main {
      position: relative;
      padding-top: 60px;
      margin-left: 60px;
      margin-right: auto;
      height: 100vh;
      width: calc(100% - 60px);
      box-sizing: border-box;
      background-color: white;
    }
  }
}

section {
  padding: 35px;
}

/* Customize container */

// @media (min-width: 1280px) {
//   .container {
//     max-width: 1200px;
//   }
// }