$color-brand-red    :#de2030;
$color-orange       :#F24E1A;
$color-deep-blue    :#002D6F;
$color-brand-blue   :#1C459D;
$color-blue         :#0F5CDF;
$color-light-blue   :#CDDDFF;

$color-deep-dark    :#333333;
$color-dark-grey    :#727272;
$color-grey         :#B7B7B7;
$color-line         :#DDDDDD;
$color-light-grey   :#F7F7F7;

$color-siluet       :#F2F6F9;
$color-other-bg     :#F7FBFC;


$font1: 'Playfair Display', serif;
$font2: 'Roboto', sans-serif;