%slickConfig {
	&.slick-initialized {
		visibility: visible;
		max-height: none;
	}
	&.slick-slider {
		overflow: hidden;
	}
}

.re-main-carousel {
	@extend %slickConfig;
	.item {
		width: inherit;
		height: calc(100vh - 50px);
		background-position: bottom;
		background-size: cover;
	}
}

.re-partner-carousel {
	width: 85%;
	@extend %slickConfig;
	.slick-slide {
		margin: 10px;
	  }
	  .slick-list {
		margin: -10px;
	  }
  
	.thumb {
		display: flex;
		justify-content: center;
	}
}