doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title remax_2020
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		// Place favicon.ico in the root directory

		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Playfair+Display:500,700&display=swap', rel='stylesheet')
		
		// build:css styles/vendor.css
		link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href='/node_modules/slick-carousel/slick/slick.css', type='text/css')
		// endbuild
		
		// build:css styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild
		
		// build:js scripts/modernizr.js
		script(src='scripts/modernizr.js')
		// endbuild


	body
		//if IE
			p.browserupgrade
				| You are using an 
				strong outdated
				|  browser. Please 
				a(href='http://browsehappy.com/') upgrade your browser
				|  to improve your experience.
		.wrapper
			include ../includes/header
			include ../includes/btn-humburger
			include ../includes/sidemenu
			block navigasi
			//- include ../includes/main-nav-menu
			main
				block content
			include ../includes/footer
		// build:js scripts/vendor.js
		script(type='text/javascript', src='/node_modules/jquery/dist/jquery.min.js')
		//- script(type='text/javascript', src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
		script(type='text/javascript', src='/node_modules/slick-carousel/slick/slick.min.js')
		// endbuild
		// build:js scripts/main.js
		script(src='scripts/main.js')
		// endbuild
		block scripts