header
    .left
        a(href="#").re-brand
            img(src="images/logo.png", alt="")
    .right
        ul.re-nav-header
            li
                a(href="#")
                    <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 0H16C16.5304 0 17.0391 0.220292 17.4142 0.612413C17.7893 1.00453 18 1.53637 18 2.09091V18.8182L16 17.9086V2.09091H4C4 1.53637 4.21071 1.00453 4.58579 0.612413C4.96086 0.220292 5.46957 0 6 0ZM12 19.8636V6.27273H2V19.8636L7 17.5845L12 19.8636ZM12 4.18182C12.5304 4.18182 13.0391 4.40211 13.4142 4.79423C13.7893 5.18635 14 5.71818 14 6.27273V23L7 19.8636L0 23V6.27273C0 5.71818 0.210714 5.18635 0.585786 4.79423C0.960859 4.40211 1.46957 4.18182 2 4.18182H12Z" fill="#1C459D"/>
                    </svg>
            li
                a(href="#").
                    Login
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.7756 4.22474e-05C8.43335 -0.0111205 4.61217 2.19074 2.42824 5.51724C2.33143 5.66515 2.43963 5.8605 2.61901 5.8605H4.62072C4.75739 5.8605 4.88552 5.80189 4.97094 5.69864C5.17026 5.46143 5.38381 5.23259 5.60876 5.01492C6.537 4.10794 7.61615 3.39352 8.81775 2.89678C10.0592 2.38329 11.3804 2.12097 12.7443 2.12097C14.1082 2.12097 15.4293 2.3805 16.6708 2.89678C17.8724 3.39352 18.9515 4.10794 19.8798 5.01492C20.808 5.92189 21.5341 6.97957 22.0438 8.15445C22.5706 9.37119 22.8354 10.6633 22.8354 12C22.8354 13.3368 22.5677 14.6289 22.0438 15.8456C21.537 17.0205 20.808 18.0781 19.8798 18.9851C18.9515 19.8921 17.8724 20.6065 16.6708 21.1033C15.4284 21.6176 14.093 21.8814 12.7443 21.8791C11.3804 21.8791 10.0592 21.6167 8.81775 21.1033C7.61851 20.607 6.52876 19.8877 5.60876 18.9851C5.38381 18.7647 5.17311 18.5358 4.97094 18.3014C4.88552 18.1981 4.75454 18.1395 4.62072 18.1395H2.61901C2.43963 18.1395 2.32858 18.3349 2.42824 18.4828C4.60933 21.8009 8.41342 24 12.7443 24C19.4698 24 24.931 18.6949 24.9994 12.1228C25.0677 5.44468 19.5979 0.0167864 12.7756 4.22474e-05ZM9.16854 15.1256V13.0047H0.22779C0.102505 13.0047 0 12.9042 0 12.7814V11.2186C0 11.0958 0.102505 10.9954 0.22779 10.9954H9.16854V8.87444C9.16854 8.68747 9.39064 8.58142 9.5387 8.69863L13.5791 11.8242C13.6063 11.8451 13.6284 11.8718 13.6435 11.9022C13.6587 11.9327 13.6665 11.9661 13.6665 12C13.6665 12.0339 13.6587 12.0673 13.6435 12.0978C13.6284 12.1283 13.6063 12.155 13.5791 12.1758L9.5387 15.3014C9.39064 15.4158 9.16854 15.3126 9.16854 15.1256Z" fill="#1C459D"/>
                    </svg>
