aside
	.re-main-menu
		//- .re-btn-humburger
		//- 	.group-span
		//- 		span
		//- 		span
		//- 		span
		.re-nav-aside
			.top
				ul.top-nav-aside
					li
						.btn-group.lang.dropright
							button.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') ID
							.dropdown-menu
								a.dropdown-item(href='#') ID
								a.dropdown-item(href='#') EN
			.bottom
				ul.bottom-nav-aside
					li
						a(href="#")
							svg(width='8', height='15', viewBox='0 0 8 15', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M5 5V3.5C5 2.85 5.15 2.5 6.2 2.5H7.5V0H5.5C3 0 2 1.65 2 3.5V5H0V7.5H2V15H5V7.5H7.2L7.5 5H5Z', fill='#1C459D')
					li
						a(href="#")
							svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M13.5001 1.97344C13.022 2.17969 12.5017 2.32813 11.9657 2.38594C12.5221 2.05537 12.9388 1.53313 13.1376 0.917194C12.6155 1.2278 12.0435 1.44561 11.447 1.56094C11.1977 1.29442 10.8961 1.0821 10.5612 0.937206C10.2262 0.792311 9.86504 0.71795 9.5001 0.718756C8.02353 0.718756 6.83604 1.91563 6.83604 3.38438C6.83604 3.59063 6.86104 3.79688 6.90166 3.99532C4.69072 3.87969 2.71885 2.82344 1.40791 1.20626C1.16904 1.61425 1.04387 2.0788 1.04541 2.55157C1.04541 3.47657 1.51572 4.29219 2.23291 4.77188C1.81026 4.75524 1.39751 4.63907 1.02822 4.43282V4.46563C1.02822 5.76094 1.94385 6.83438 3.16416 7.08126C2.93503 7.14077 2.69933 7.17122 2.4626 7.17188C2.28916 7.17188 2.1251 7.15469 1.95947 7.13126C2.29697 8.18751 3.27979 8.95469 4.4501 8.97969C3.53447 9.69688 2.3876 10.1188 1.14229 10.1188C0.918848 10.1188 0.712598 10.1109 0.498535 10.0859C1.67979 10.8438 3.08135 11.2813 4.59072 11.2813C9.49072 11.2813 12.172 7.22188 12.172 3.69844C12.172 3.58282 12.172 3.46719 12.1642 3.35157C12.6829 2.97188 13.1376 2.50157 13.5001 1.97344Z', fill='#1C459D')
					li
						a(href="#")
							svg(width='18', height='11', viewBox='0 0 18 11', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M16.37 4.70539C16.3639 4.18371 16.3619 3.65816 16.3599 3.13454H14.7359C14.7299 3.65623 14.7258 4.17985 14.7218 4.70539C14.1751 4.70733 13.6325 4.71119 13.0898 4.71699V6.28011C13.6325 6.28591 14.1792 6.28977 14.7218 6.29557C14.7279 6.81725 14.7279 7.34087 14.7319 7.86255H16.3579C16.3599 7.34087 16.3639 6.81725 16.3679 6.2917C16.9146 6.28591 17.4573 6.28397 18 6.27818V4.71506C17.4593 4.71119 16.9126 4.71119 16.37 4.70539ZM5.71741 4.71312C5.7154 5.33721 5.71741 5.96323 5.71942 6.58732C6.80879 6.6221 7.90017 6.60665 8.98955 6.6221C8.50918 8.9465 5.22297 9.70004 3.48439 8.18136C1.69557 6.8501 1.77998 3.9306 3.63915 2.69401C4.93957 1.69701 6.78668 1.9424 8.0871 2.80608C8.59762 2.35202 9.07598 1.86511 9.53625 1.36275C8.45491 0.533849 7.12837 -0.057394 5.71741 0.00443534C2.77087 -0.0902408 0.0635138 2.39066 0.0152759 5.22515C-0.173656 7.54181 1.41016 9.81211 3.64518 10.6313C5.87217 11.4564 8.72826 10.8941 10.1513 8.96968C11.0899 7.75435 11.2929 6.1893 11.1824 4.71892C9.35937 4.70539 7.53839 4.70733 5.71741 4.71312Z', fill='#1C459D')